<!DOCTYPE html>
<html>

<head>
    <title>
        BIO DATA
    </title>
</head>
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js">

</script>
<style>
#hd1{

    text-align: center;
}


</style>
<body>
    <header id="hd1">
        <H1 >BIODATA</H1>
    </header>
    <br>
        <div class="container" id="frm1">
            <table id="tbl1" style="width:100%">
                <tr  id="div1">
                    <td class="dt">
                        Name:
                    </td>
                    <td>SONU KUMAR</td>
                    <td rowspan="3" align="right">
                        <img src="profile.jpg" style="height:150px;width:150px;">

                    </td>
                </tr>
                <tr  id="div1">
                    <td class="dt"  >
                        Address:
                    </td>
                    <td>Hostel D,NIT Jamshedpur,Adityapur,
                        <br>District Seraikela Kharsawan, Jamshedpur, Jharkhand 831014</td>
                </tr>
                <tr  id="div2">
                    <td class="dt" style="margin: -10px 0px 0px 0px;" >
                        About:
                    </td>
                    <td>
                        <p>I am persuing Master of Computer Application from NIT Jamshedpur.<br>
                            I am seeking a career with an organization,
                            that provides career growth based on performance and <br>
                            accomplishments where
                            I can apply my acquired skills and abilities. <br>
                    </td>
                </tr>
                <tr  id="div3">
                    <td colspan="3">
                        <div id="edu" class="dt"> Eduacational Qualification:</div>
                        <div align="center">
                            <table border="1" style="text-align: center; width: 80%">
                                <thead>
                    <th> Qualification</th>
                    <th>University name</th>
                    <th>Percentage/CGPA</th>
                    </thead>
                <tr>
                    <td>
                        Post Graduation
                    </td>
                    <td>NIT Jamshedpur</td>
                    <td>Appearing <br>[CGPA=8.67]</td>
                </tr>
                <tr>
                    <td>
                        Graduation
                    </td>
                    <td>Magadh University</td>
                    <td> 67.2%</td>
                </tr>
                <tr>
                    <td>
                        Intermediate
                    </td>
                    <td>BSEB</td>
                    <td>64.6%</td>
                </tr>
                </tr>
                <tr>
                    <td>
                        Metriculation
                    </td>
                    <td>CBSE</td>
                    <td>CGPA=9.4</td>
                </tr>
            </table><br>
        </div>
        </td>
        </tr>
        <tr  id="div4">
            <td class="dt" rowspan="2">
                Project:
            </td>
            <td colspan="2"><a href="biodata.html">
                    <h5>Online Employement Portal</h5>
                </a>
                <ul type="circle">
                    <li>Front-end:Html,CSS</li>
                    <li>Backend:JavaScript,Php,Oracle 10G</li>
                </ul>
            </td>
        </tr>
        <tr  id="div4">
            <td colspan="2"><a href="biodata.html">
                    <h5>Restaurant Management System</h5>
                </a>
                <ul type="circle">
                    <li>Front-end:Microsoft Visual Basic</li>
                    <li>Backend:Oracle 10G</li>
                </ul>
            </td>
        </tr>
        <tr  id="div5">
            <td class="dt">
                Acheivements:
            </td>
            <td colspan="2">
                <ul type="circle">
                    <li>Member at SCA,NIT Jamshedpur</li>
                    <li>Member at Neodrishti,NIT Jamshedpur</li>
                    <li>Core member at Culfest- 2018,NIT Jamshedpur</li>
                    <li>Successfully completed C,C++,Java Certification course From IIT Bombay</li>
                </ul>
            </td>
        </tr>
        <tr  id="div6">
            <td class="dt">
                Hobby:
            </td>
            <td colspan="2" >Playing video Games,watching movies</td>
        </tr>
        <tr  id="div7">
            <td class="dt" >
                Contacts Details
            </td>
            <td colspan="2"><p style="display:inline;">Mob:**********</p> &nbsp &nbsp &nbsp Email:**********@gmail.com
            </td>
        </tr>
        </table>
    </div>
    <footer id="ft">
        © copyright reserverd
    </footer>
</body>

</html>